@import url('https://fonts.cdnfonts.com/css/whitney-2');

* {
    color: rgb(255,255,255);
    background-color: rgb(55,57,62);
    font-family: Whitney;
    text-decoration: none;
}

body {
    margin: 0px;
    align-items: center;
}

nav {
    top: 0px;
    height: 100%;
    background-color: rgb(32,34,37);
    margin: 0px;
    padding: 0px;
    position: fixed;
}

div.nav_button {
    background-color: rgb(47,49,54);
    height: 52px;
    width: 52px;
    margin: 10px;
    padding: 0px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 52px;
    transition: ease-in-out 0.2s;
}

div.nav_button:hover {
    background-color: rgb(90,101,234);
    border-radius: 37%;
    transition: ease-in-out 0.2s;
}

div.button_hover {
    visibility: hidden;
    opacity: 0;
    height: 35px;
    width: max-content;
    background-color: rgb(24, 25, 28);
    position: relative;
    top: -43.5px;
    left: 70px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-weight: 600;
    line-height: 35px;
    border-radius: 9px;
    transition: ease-in-out 0.2s;
}

div.nav_button:hover div.button_hover {
    visibility: visible;
    opacity: 100;
    box-shadow: 0px 0px 5px rgba(24, 25, 28, 0.5);
    transition: ease-in-out 0.2s;
}

hr {
    height: 0px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

hr.nav_line {
    height: 0px;
    width: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h1.main_text {
    background-color: transparent;
    position: relative;
    font-size: 18px;
    left: 85px;
}

h4 {
    background-color: transparent;
    position: relative;
    left: 10px;
    margin: 0px;
}

div.main_buttons {
    background-color: transparent;
    position: relative;
    left: 80px;
}

button.button {
    background-color: rgb(80,84,91);
    height: 25px;
    width: max-content;
    padding: 15px;
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 0px solid;
    border-radius: 3px;
    font-size: 15px;
    line-height: 0px;
    transition: ease-in-out 0.1s;
}

button.button:hover {
    background-color: rgb(105,109,114);
    transition: ease-in-out 0.1s;
}
